.blocky-square-spinner {
  display: grid;
  grid-template-rows: repeat(3, 18px);
  grid-template-columns: repeat(3, 18px);
  gap: 6px;
  width: 66px;
  height: 66px;
  margin: 24px auto;
  position: relative;
}

.blocky-square-spinner-block {
  width: 18px;
  height: 18px;
  background: #bfaec2;
  border: 2px dotted #fff;
  border-radius: 2px;
  opacity: 0.3;
  animation: blocky-square-spinner 0.8s linear infinite;
}

@keyframes blocky-square-spinner {
  0%   { opacity: 1; }
  50%  { opacity: 0.3; }
  100% { opacity: 0.3; }
} 